body {
  font-family: "BlinkMacSystemFont";
  background-color: #F1F0F5;
  margin: 0px;
}
header {
  color: white;
  background: #069456;
  height: 80px;
  padding: 8px;
}
button {
  color: white;
  background-color: rgb(6,145,86);
  border: 1px solid rgb(5,119,69);
  height: 32px;
  width: 80px;
  font-size: 16px;
  border-radius: 4px;
  margin: 20px 8px;
}
a {
  color: #10A364;
  text-decoration: none;
  padding-top: 20px;
  font-weight: bold;
}
div {
  padding-top: 20px;
  padding-bottom: 20px;
}
article {
  max-width: 600px;
  margin-top: 8px;
  margin-left: 20px;
}
section {
  display: inline;
}

main {
  text-align: left;
  margin: 40px 30px;
  border-bottom: 1 px gray;
  border-radius: 5px;
  padding: 10px 30px;
  box-shadow: 0 0 10px gray;
  background: white;
}
img {
  border-radius: 8px;
  height: 68px;
  width: 68px;
  float: left;
  margin: 0 10px 0 0;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  display: inline;
  margin: 20px;
  padding: 20px;
  position: relative;
  top: 27%;
  transform: translateY(-50%);
}
nav {
  float: right;
  color: white;
}
.second {
  border-top: 1px solid #CCCCCC;
}
.third {
  border-top: 1px solid #CCCCCC;
}
.forth {
  border-top: 1px solid #CCCCCC;
}
.footerlist {
  display: inline;
  color: #b4b4b4;
  font-size: 12px;
  flex: 1;
}
ul {
  vertical-align: baseline;
  display: flex;
  list-style: none;
}

textarea {
  max-width: 600px;
  height: 20px;
  border: 1px solid #CCCCCC;
  color: #C0C0C0;
  font-size: 16px;
  text-align: left;
  padding: 20px;
  border-radius: 4px;
}
